{% extends 'base.html.twig' %} 
{% block stylesheets %} 
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000:/css/style" /> 
{% endblock %}   
{% block body %} 
   <h3>Please Check a donut and then send to order</h2>  
   <table class = "table" id="table">  
      <tr>  
         <th>Product id</th>  
         <th>Name</th>  
         <th>description</th>  
         <th>Price</th>  
      </tr>  
      {% for x in data %} 
      <tr>  
        <div class="radio">
          <!--  <label><input type="radio"  id='myRadio' value = {{ x.Name }}>{{ x.Name }}</label>-->
       </div>
       <td>{{ x.id }}</td>
         <td>  <input type="radio"  id='myRadio' value =' {{ x.Name }} ' name = '{{x.price}}'>{{ x.Name}} </td>   
         <td>{{ x.description }}</td>
         <td>{{ x.Price }}</td>  
      </tr>  
      {% endfor %} 
   </table>









{% endblock %}    
{% block my_javascripts %}

<script>
    function myFunction() {
    alert ("checked")
      document.getElementById("fname").value = document.getElementById("fname").value.toUpperCase();
    }
    </script>



{% endblock %}