{% extends 'base.html.twig' %} 
{% block stylesheets %} 
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000:/css/style" /> 
{% endblock %}   
{% block body %} 
   <h3>Here are all The orders</h3>  
   <table class = "table" id="table">  
      <tr>  
         <th>Order id</th>  
         <th>products ordered</th>  
         <th>total cost</th>  
         <th>username</th>  
         <th>Status</th>  
      </tr>  
      {% for x in data %} 
      <tr>  
      
       <div id = "orderId">
       <td>{{ x.id }}</td>
      </div>
         <td><label><input type="radio"  id='myRadio' value = {{ x.productsordered }}>{{ x.productsordered }}</label></td>   
         <td>{{ x.totalcost }}</td>
         <td>{{ x.username }}</td>  
         <td id="td">{{ x.status }} </td>
<td><button class="btnSelect">Complete Order</button></td> 

       
      </tr>  
      {% endfor %} 
    
       
       
       
       <script>
       $(document).ready(function(){
            $("#table").on('click', '.btnSelect', function() {
             // get the current row
             var currentRow = $(this).closest("tr");
       
             var col1 = currentRow.find("td:eq(0)").html(); // get current row 1st table cell TD value
             var col2 = currentRow.find("td:eq(1)").html(); // get current row 2nd table cell TD value
             var col3 = currentRow.find("td:eq(2)").html(); // get current row 3rd table cell  TD value
             var data = col1;
       
             alert(data);

            	
         

            $.post( "/backend", { type: "updateorders", updateproductsordered:data })
            .done(function( data ) {
             alert("updated Order to status Complete ");
             });

           });
       
        });
        
       </script>


{% endblock %}